# Core
pandas==2.1.4
numpy==1.26.4

# Data generation
faker==24.8.0

# Database
sqlalchemy==2.0.25
psycopg2-binary==2.9.9

# dbt (Postgres)
dbt-postgres==1.7.9

# Data Quality
great-expectations==0.18.22

# Orchestration
prefect==2.16.1

# Environment variables
python-dotenv==1.0.1

# Utilities
python-dateutil==2.8.2
